body{
	margin:0px;
	font-size:12px;
	background-color:#fafafa;
	font-family: "Microsoft Yahei UI","Microsoft YaHei",Helvetica,Arial,sans-serif;
}


.bar-opacity{
	height:50px;
	width:100%;
	background-color: #ff2d4b;
	opacity: 0.8;
	position:absolute;
	top:0px;
	left : 0px;
}

.bar-section , .bar-content{
	position: relative;
}


.bar-section{
	height: 50px;
	width: 100%;
}


.ui-width{
	width:980px;
	margin:0 auto;
}

figure{
	margin-top:10px;
	float:left;
}

.logo{
	color:#fff;
	background:url(../images/logo.png) no-repeat;
	text-indent: -999999em;
	display : block;
	width: 131px;
	height: 30px;

}

.logo:hover{
	color:white;
	text-decoration: none ;
}

.logout_user{
	list-style-type: none;
	padding:0px;
}

.logout_user li a{
	float:left;
	color: white;
	margin:0 0 0 18px;
}

.logout_user li a:hover{
	color: #eee;
	text-decoration: none;
}

/* .user-info-widget{
	float:right;
	width:220px;
	margin: 5px 0;
} */

.seperator{
	border-left : 1px solid white;
	padding: 10px 0px 0px 0px;
	margin:0 0 0 5px;
	font-size:0px;
}


#user_info{
	position:absolute;
	right:0px ; 
	top: 8px;
	width:210px;
	margin:0px;
	padding:0px;
}

.header-container{

	height: 844px;
	width:100%;
	background:#e5e5e5 center url(../images/index-bg.jpg) no-repeat ;
	position:relative;
}


#content{
	position:relative;
}



#footer{
	width:100%;
	min-width:980px;
	height: 220px;
	background:#fafafa;
	margin-top:20px;
}


#footer .footer-items{
	width: 980px;
	margin:auto;
	padding:18px 0;
	border-bottom:1px solid #eee;


}


#footer .footer-items .footer-items-snippet{
	display : inline-block;
	width: 184px;
	margin : 0 0 0 50px;
	vertical-align: top;
	border-right : 1px solid #eee;
}


#footer .footer-items .footer-items-snippet div, 
#footer .footer-items .footer-items-snippet a {
	margin : 0.4em 0;
	color: #aaa;
}

#footer .footer-items .footer-items-snippet h3{
	color: #999;
	margin:0 0 10px 0;
	font-size:1.3em;
	font-weight:700;
}


#footer .footer-items .text a{
	display : block;
	text-decoration: none;
}

#footer .footer-items .text a:hover{
	color:#666;
}




#footer .footer-items .footer-items-contact{
	width:184px;
	padding: 0 0 0 50px;
	vertical-align: top;
	display : inline-block;
	height:86px;
}

#footer .footer-items .footer-items-contact h3{
	color:#999;
	margin: 0 0 10px 0;
	font-size : 1.4em;
	vertical-align: middle;
	font-weight: 700;

}


#footer .footer-items .footer-items-contact em{

	color:#999;
	font-size:1.4em;
	margin:2px 0 0 0;

}

#footer .footer-items .text span {
	color: #aaa;
}

#footer .footer-copy {
	height: 60px;
	width: 980px ;
	margin :auto;
	text-align : center;
	color: #aaa;
	line-height: 60px;
}

#footer .footer-copy a {
	margin-left : 10px;
}

#footer .footer-copy span{
	margin-left : 10px;
}

#footer .footer-copy a:link , #footer .footer-copy a:visited{
	color: #aaa;
	text-decoration: none;
}

